<h1> BlogPost: <%= @blog_post.title %></h1>
<div><%= @blog_post.author %>, <%= @blog_post.published? ? @blog_post.published_at : "Draft" %>
<hr/>
<p>
	<%= @blog_post.description %>
</p>

<%= link_to "Back to Index", blog_posts_path %> | <%= link_to "Edit", edit_blog_post_path(@blog_post) %>
